In [8]:
import pandas as pd
import numpy as np


file_partite = 'ALL_MATCHESNO_FILTRO.xlsx'
file_partite_read = pd.read_excel( file_partite )
file_partite_data = pd.DataFrame( file_partite_read )
file_partite_data

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed,unicode
0,727,OTT_DAVYDENKO_KAFELNIKOV_3_DOHA_2002_HARD_,1,2,7,4,4,6,6,6,2,2002-01-01,1
1,423,QRT_SCHUETTLER_KAFELNIKOV_3_DOHA_2002_HARD,2,0,7,6,,5,4,,1,2002-01-01,2
2,421,SF_ElAYNAOUI_SCHUETTLER_3_DOHA_2002_HARD,2,0,6,6,,3,4,,1,2002-01-01,3
3,420,F_ElAYNAOUI_MANTILLA_3_DOHA_2002_HARD,2,1,4,6,6,6,2,2,1,2002-01-01,4
4,433,OTT_MANTILLA_OGORODOV_3_DOHA_2002_HARD,2,0,7,6,,6,4,,1,2002-01-01,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,6963,QRT_ISNER_O'CONNELL_3_ATLANTA_2021_HARD,2,1,7,63,6,65,7,4,1,2021-07-26,14366
14366,6962,SF_NAKASHIMA_RUUSUVUORI_3_ATLANTA_2021_HARD,2,1,3,6,6,6,4,3,1,2021-07-26,14367
14367,6961,SF_ISNER_FRITZ_3_ATLANTA_2021_HARD,2,1,7,5,6,64,7,3,1,2021-07-26,14368
14368,6960,F_ISNER_NAKASHIMA_3_ATLANTA_2021_HARD,2,0,7,7,,68,5,,1,2021-07-26,14369
14369,7127,SF_RUUSUVUORI_NAKASHIMA_3_ATLANTA_2021_HARD_,1,2,6,4,3,3,6,6,2,2021-07-26,14370

In [9]:
file_2011_in_poi = file_partite_data.loc[ file_partite_data['data_parsed']>("2010-12-31") ]
file_2011_in_poi.to_excel("file_2011_in_poi.xlsx")

In [10]:
locations = []
yrss = []

for v in file_partite_data.PARTITE:
    stringa = v.split("_")[4]
    yr = v.split("_")[5]
    yr = int( yr )
    yrss.append( yr )
    locations.append( stringa )
    
file_partite_data['LOCS'] = locations
file_partite_data['YEAR'] = yrss
    
locations = pd.Series( locations )
locations_uniques = list( locations.unique() )
print( locations_uniques  )

['DOHA', 'AUCKLAND', 'SYDNEY', 'MARSEILLE', 'ROTTERDAM', 'ACAPULCO', 'DUBAI', 'DELRAY', 'IndianWELLS', 'MIAMI', 'CINCINNATI', 'WASHINGTON', 'MOSCA', 'TOKYO', 'VIENNA', 'SanPIETROBURGO', 'STOCCOLMA', 'BASEL', 'PARIGI', 'MONTREAL', 'METZ', 'PECHINO', 'BRISBANE', 'SHANGHAI', 'ATLANTA', 'MONTPELLIER', 'WinstonSALEM', 'SOFIA', 'LosCABOS', 'CHENGDU', 'ANTWERP', 'PUNE', 'NewYORK', 'ZHUHAI']

In [11]:
file_partite_data

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed,unicode,LOCS,YEAR
0,727,OTT_DAVYDENKO_KAFELNIKOV_3_DOHA_2002_HARD_,1,2,7,4,4,6,6,6,2,2002-01-01,1,DOHA,2002
1,423,QRT_SCHUETTLER_KAFELNIKOV_3_DOHA_2002_HARD,2,0,7,6,,5,4,,1,2002-01-01,2,DOHA,2002
2,421,SF_ElAYNAOUI_SCHUETTLER_3_DOHA_2002_HARD,2,0,6,6,,3,4,,1,2002-01-01,3,DOHA,2002
3,420,F_ElAYNAOUI_MANTILLA_3_DOHA_2002_HARD,2,1,4,6,6,6,2,2,1,2002-01-01,4,DOHA,2002
4,433,OTT_MANTILLA_OGORODOV_3_DOHA_2002_HARD,2,0,7,6,,6,4,,1,2002-01-01,5,DOHA,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,6963,QRT_ISNER_O'CONNELL_3_ATLANTA_2021_HARD,2,1,7,63,6,65,7,4,1,2021-07-26,14366,ATLANTA,2021
14366,6962,SF_NAKASHIMA_RUUSUVUORI_3_ATLANTA_2021_HARD,2,1,3,6,6,6,4,3,1,2021-07-26,14367,ATLANTA,2021
14367,6961,SF_ISNER_FRITZ_3_ATLANTA_2021_HARD,2,1,7,5,6,64,7,3,1,2021-07-26,14368,ATLANTA,2021
14368,6960,F_ISNER_NAKASHIMA_3_ATLANTA_2021_HARD,2,0,7,7,,68,5,,1,2021-07-26,14369,ATLANTA,2021
14369,7127,SF_RUUSUVUORI_NAKASHIMA_3_ATLANTA_2021_HARD_,1,2,6,4,3,3,6,6,2,2021-07-26,14370,ATLANTA,2021

In [12]:
lista_excel_singoli_tornei_matches = []
lista_locs = []

for v in locations_uniques:
    stringa = v+"_matches.xlsx"
    lista_excel_singoli_tornei_matches.append( stringa )
    lista_locs.append( v )
    data = file_partite_data.loc[ file_partite_data['LOCS']==v ]
    data.to_excel( stringa )

In [13]:
data_excel_locs = pd.DataFrame()
data_excel_locs['LOCS'] = lista_locs
data_excel_locs['EXCEL_MATCHES'] = lista_excel_singoli_tornei_matches
data_excel_locs.to_excel("data_excel_locs.xlsx")

In [14]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]


for nome in locations_uniques:
    stringa_excel_tornei_storico = nome+'_STORICO.xlsx'
    for idx, v in enumerate ( data_excel_locs.EXCEL_MATCHES ):
        if data_excel_locs.LOCS[idx]==nome:
            file_corretto = v
            file_corretto_read = pd.read_excel( file_corretto )
            file_corretto_data = pd.DataFrame( file_corretto_read )
            years_torneo = []
            for ans in file_corretto_data.PARTITE:
                years_torneo.append( int( ans.split("_")[5] ) )
            years_torneo = pd.Series( years_torneo )
            years_torneo_uniques = list( years_torneo.unique() )
        
            n_ott = []
        
        
            for an in years_torneo_uniques:
                file_corretto_data_2010 = file_corretto_data.loc[ ( file_corretto_data['YEAR']==an ) & 
                                                         ( file_corretto_data['segno']==1 ) ]
                for idx, v in enumerate ( file_corretto_data_2010.PARTITE ):
                    if v.split("_")[0]=='F':
                        n_ott.append( v.split("_")[1] )
                        n_ott.append( v.split("_")[2] )
                for idx, v in enumerate ( file_corretto_data_2010.PARTITE ):
                    if v.split("_")[0]=='SF':
                        n_ott.append( v.split("_")[2] )
                for idx, v in enumerate ( file_corretto_data_2010.PARTITE ):
                    if v.split("_")[0]=='QRT':
                        n_ott.append( v.split("_")[2] )
                for idx, v in enumerate ( file_corretto_data_2010.PARTITE ):
                    if v.split("_")[0]=='OTT':
                        n_ott.append( v.split("_")[2] )
    listone = list( chunks( n_ott, 16) )
    zip_torneo = {}
    for k,l in zip( years_torneo_uniques, listone ):
        zip_torneo[k] = l
    dataframe_torneo = pd.DataFrame( zip_torneo )
    dataframe_torneo = dataframe_torneo.T
    dataframe_torneo.to_excel( stringa_excel_tornei_storico )
    dataframe_torneo