In [8]:
import pandas as pd
import numpy as np


file_hard = 'file_partite_data_parsed_games.xlsx'
file_clay = 'file_partite_data_parsed_CLAY.xlsx'
file_grass = 'file_partite_data_parsed_GRASS_NOgames.xlsx'
file_slams = 'file_partite_data_parsed_SLAMS_games.xlsx'


file_hard_read = pd.read_excel( file_hard )
file_clay_read = pd.read_excel( file_clay )
file_grass_read = pd.read_excel( file_grass )
file_slams_read = pd.read_excel( file_slams )

file_hard_data = pd.DataFrame( file_hard_read )
file_clay_data = pd.DataFrame( file_clay_read )
file_grass_data = pd.DataFrame( file_grass_read )
file_slams_data = pd.DataFrame( file_slams_read )

In [9]:
file_hard_data

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed,unicode
0,727,OTT_DAVYDENKO_KAFELNIKOV_3_DOHA_2002_HARD_,1,2,7,4,4,6,6,6,2,2002-01-01,1
1,423,QRT_SCHUETTLER_KAFELNIKOV_3_DOHA_2002_HARD,2,0,7,6,,5,4,,1,2002-01-01,2
2,421,SF_ElAYNAOUI_SCHUETTLER_3_DOHA_2002_HARD,2,0,6,6,,3,4,,1,2002-01-01,3
3,420,F_ElAYNAOUI_MANTILLA_3_DOHA_2002_HARD,2,1,4,6,6,6,2,2,1,2002-01-01,4
4,433,OTT_MANTILLA_OGORODOV_3_DOHA_2002_HARD,2,0,7,6,,6,4,,1,2002-01-01,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,6963,QRT_ISNER_O'CONNELL_3_ATLANTA_2021_HARD,2,1,7,63,6,65,7,4,1,2021-07-26,14366
14366,6962,SF_NAKASHIMA_RUUSUVUORI_3_ATLANTA_2021_HARD,2,1,3,6,6,6,4,3,1,2021-07-26,14367
14367,6961,SF_ISNER_FRITZ_3_ATLANTA_2021_HARD,2,1,7,5,6,64,7,3,1,2021-07-26,14368
14368,6960,F_ISNER_NAKASHIMA_3_ATLANTA_2021_HARD,2,0,7,7,,68,5,,1,2021-07-26,14369
14369,7127,SF_RUUSUVUORI_NAKASHIMA_3_ATLANTA_2021_HARD_,1,2,6,4,3,3,6,6,2,2021-07-26,14370

In [10]:
file_clay_data

,Unnamed: 0,unicode,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed
0,0,0,F_FERRERO_MOYA_3_MonteCARLO_2002_CLAY,3,0,7,6,6,5,3,4,1,2002-04-16
1,1,1,SF_MOYA_HENMAN_3_MonteCARLO_2002_CLAY,2,1,6,5,6,4,7,3,1,2002-04-16
2,2,2,SF_FERRERO_GROSJEAN_3_MonteCARLO_2002_CLAY,2,1,6,1,6,3,6,0,1,2002-04-16
3,3,3,QRT_MOYA_SAFIN_3_MonteCARLO_2002_CLAY,2,1,6,2,7,1,6,6,1,2002-04-16
4,4,4,QRT_HENMAN_JOHANSSON_3_MonteCARLO_2002_CLAY,2,1,2,6,7,6,4,6,1,2002-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,2305,2305,OTT_ALIASSIME_DELBONIS_3_ROME_2021_CLAY_,0,2,63,1,,7,6,,2,2021-05-09
2306,2306,2306,OTT_SHAPOVALOV_NADAL_3_ROME_2021_CLAY_,1,2,6,4,63,3,6,7,2,2021-05-09
2307,2307,2307,OTT_BERRETTINI_TSITSIPAS_3_ROME_2021_CLAY_,0,2,63,2,,7,6,,2,2021-05-09
2308,2308,2308,OTT_FOKINA_DJOKOVIC_3_ROME_2021_CLAY_,0,2,2,1,,6,6,,2,2021-05-09
2309,2309,2309,OTT_KARATSEV_OPELKA_3_ROME_2021_CLAY_,0,2,66,4,,7,6,,2,2021-05-09

In [11]:
file_grass_data

,Unnamed: 0,unicode,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed
0,1147,1147,OTT_POPP_KOUBEK_3_HALLE_2002_GRASS,2,0,6,6,,4,2,,1,2002-06-10
1,1435,1435,OTT_PAVEL_YOUZHNY_3_HALLE_2002_GRASS_,0,2,4,0,,6,6,,2,2002-06-10
2,1436,1436,OTT_SCHUETTLER_ULIHRACH_3_HALLE_2002_GRASS_,1,2,2,7,5,6,6,7,2,2002-06-10
3,1437,1437,OTT_KRATOCHVIL_CARLSEN_3_HALLE_2002_GRASS_,1,2,6,4,4,3,6,6,2,2002-06-10
4,1438,1438,OTT_SAULNIER_KAFELNIKOV_3_HALLE_2002_GRASS_,0,2,3,5,,6,7,,2,2002-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1705,1135,1135,OTT_MANNARINO_EVANS_3_QUEENS_2021_GRASS_,0,2,4,67,,6,7,,2,2021-06-14
1706,1134,1134,OTT_MURRAY_BERRETTINI_3_QUEENS_2021_GRASS_,0,2,3,3,,6,6,,2,2021-06-14
1707,1133,1133,OTT_LOPEZ_SHAPOVALOV_3_QUEENS_2021_GRASS_,0,2,2,3,,6,6,,2,2021-06-14
1708,1412,1412,SF_RUBLEV_BASILASHVILI_3_HALLE_2021_GRASS,2,1,6,3,6,1,6,3,1,2021-06-14
1709,1709,1709,OTT_MOUTET_KOHLSCHREIBER_3_HALLE_2021_GRASS_,0,2,4,64,,6,7,,2,2021-06-14

In [12]:
file_slams_data

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_1_set4,games_1_set5,games_2_set1,games_2_set2,games_2_set3,games_2_set4,games_2_set5,segno,data_parsed,unicode
0,0,F_JOHANSSON_SAFIN_3_AustralianOPEN_2002_SLAM,3,1,3,6,6,7,,6,4,4,6,,1,2002-01-14,1
1,302,SF_NOVAK_JOHANSSON_3_AustralianOPEN_2002_SLAM_,2,3,6,6,6,3,4,7,0,4,6,6,2,2002-01-14,2
2,303,QRT_RIOS_HAAS_3_AustralianOPEN_2002_SLAM_,1,3,6,4,7,6,,7,6,6,7,,2,2002-01-14,3
3,304,QRT_FERREIRA_SAFIN_3_AustralianOPEN_2002_SLAM_,0,1,2,,,,,5,,,,,2,2002-01-14,4
4,305,QRT_KOUBEK_NOVAK_3_AustralianOPEN_2002_SLAM_,0,3,2,3,2,,,6,6,6,,,2,2002-01-14,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2335,1759,QRT_FEDERER_HURKACZ_3_WIMBLEDON_2021_SLAM_,0,3,3,64,0,,,6,7,6,,,2,2021-06-28,2336
2336,1760,QRT_FUCSOVICS_DJOKOVIC_3_WIMBLEDON_2021_SLAM_,0,3,3,4,4,,,6,6,6,,,2,2021-06-28,2337
2337,1761,QRT_KHACHANOV_SHAPOVALOV_3_WIMBLEDON_2021_SLAM_,2,3,4,6,7,1,4,6,3,5,6,6,2,2021-06-28,2338
2338,1483,OTT_KHACHANOV_KORDA_3_WIMBLEDON_2021_SLAM,3,2,3,6,6,5,10,6,4,3,7,8,1,2021-06-28,2339
2339,1755,F_BERRETTINI_DJOKOVIC_3_WIMBLEDON_2021_SLAM_,1,3,7,4,4,3,,64,6,6,6,,2,2021-06-28,2340

In [13]:
frms = [ file_hard_data, file_clay_data, file_grass_data, file_slams_data ]
data_all_matches_data_parsed = pd.concat( frms )
data_all_matches_data_parsed = data_all_matches_data_parsed.sort_values( by=['data_parsed'] )
data_all_matches_data_parsed

,Unnamed: 0,PARTITE,set_p1,set_p2,games_1_set1,games_1_set2,games_1_set3,games_2_set1,games_2_set2,games_2_set3,segno,data_parsed,unicode,games_1_set4,games_1_set5,games_2_set4,games_2_set5
0,727,OTT_DAVYDENKO_KAFELNIKOV_3_DOHA_2002_HARD_,1,2,7,4,4,6,6,6,2,2002-01-01,1,NaN,NaN,NaN,NaN
29,434,OTT_STEPANEK_IVANISEVIC_3_DOHA_2002_HARD,2,0,7,6,,6,2,,1,2002-01-01,30,NaN,NaN,NaN,NaN
28,432,OTT_VICENTE_KNOWLE_3_DOHA_2002_HARD,2,0,6,6,,3,4,,1,2002-01-01,29,NaN,NaN,NaN,NaN
27,431,OTT_ULIHRACH_BJORKMAN_3_DOHA_2002_HARD,2,0,6,7,,2,6,,1,2002-01-01,28,NaN,NaN,NaN,NaN
26,430,OTT_ElAYNAOUI_SQUILLARI_3_DOHA_2002_HARD,2,0,6,6,,2,2,,1,2002-01-01,27,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14342,7138,OTT_GOJOWCZYK_THOMPSON_3_ATLANTA_2021_HARD_,0,2,66,4,,7,6,,2,2021-07-26,14343,NaN,NaN,NaN,NaN
14341,7139,OTT_JOHNSON_FRITZ_3_ATLANTA_2021_HARD_,1,2,7,4,1,65,6,6,2,2021-07-26,14342,NaN,NaN,NaN,NaN
14340,7125,F_NAKASHIMA_ISNER_3_ATLANTA_2021_HARD_,0,2,68,5,,7,7,,2,2021-07-26,14341,NaN,NaN,NaN,NaN
14353,7126,SF_FRITZ_ISNER_3_ATLANTA_2021_HARD_,1,2,64,7,3,7,5,6,2,2021-07-26,14354,NaN,NaN,NaN,NaN
14368,6960,F_ISNER_NAKASHIMA_3_ATLANTA_2021_HARD,2,0,7,7,,68,5,,1,2021-07-26,14369,NaN,NaN,NaN,NaN

In [14]:
data_all_matches_data_parsed.to_excel("data_all_matches_data_parsed.xlsx")